body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 3;   
}

textarea {
    background: color #f2a30b; 
    border: none;
    resize: none;
    color: white;
    padding: 10px;
    margin-bottom: 35px;
    width: 100%;
    margin-top: -15px;
    border-left: 2px solid black;   
}

.jumbotron {
    text-align: center;
    background-color: #f2a30b;
    color: black;
    border-bottom: 10px black;
    border-radius: 0;
}

.time-block {
    text-align: center;
    border-radius: 15px;
}

.past {
    background-color: #f2a30b;
    color: white;
}

.future {
    background-color: #0c2fdf;
    color: white;
}

.present {
    background-color: #fbe407;
    color: white;
}

.hour {
    background-color: #ffe182;
    color: white;
    border-top: 2px;
}

.row {
    white-space: normal;
    height: 85px;
    border-top: 1px white;
}

.saveBtn {
    border-top-right-radius: 15px;
    border-left: 1px white;
    border-bottom-right-radius: 15px;
    background-color: #0c2fdf;
    color: black;
}

.saveBtn i:hover {
    font-size: 20px;
}