body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 3;   
}

textarea {
    background: color #f2a30b; 
    border: none;
    resize: none;
    color: white;
    padding: 12px;
    margin-bottom: 50px;
    width: 80%;
    margin-top: 15px;
    border-left: 5px solid black;   
}

.jumbotron {
    text-align: center;
    background-color: #f2a30b;
    color: black;
    border-bottom: 14px black;
    border-radius: 5px;
}

.time-block {
    text-align: center;
    border-radius: 20px;
}

.past {
    background-color: #f2a30b;
    color: white;
}

.future {
    background-color: #0c2fdf;
    color: white;
}

.present {
    background-color: #fbe407;
    color: white;
}

.hour {
    background-color: #ffe182;
    color: white;
    border-top: 4px;
}

.row {
    white-space: normal;
    height: 90px;
    border-top: 3px white;
}

.saveBtn {
    border-top-right-radius: 20px;
    border-left: 3px white;
    border-bottom-right-radius: 20px;
    background-color: #0c2fdf;
    color: black;
}

.saveBtn i:hover {
    font-size: 30px;
}